@media(prefers-color-scheme: dark){
  :root{
  --main-bg: #121212;
  --second-bg: #151616;
  --clear-bg: #1f2022ab;
  --main-text: #c3c7cd;
  --second-text: #e1e4e8;
}
}

@media(prefers-color-scheme: light){
:root {
 --main-bg: #f0f0f0; /* Light grey background */
 --second-bg: #e0e0e0; /* Slightly darker grey for secondary backgrounds */
 --clear-bg: #ffffffab; /* White background */
 --main-text: #333333; /* Dark grey text */
 --second-text: #666666; /* Slightly lighter grey for secondary text */
}
}


html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-bg);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  color: var(--second-text);
}

main {
  padding: 0 1rem 1rem 1rem; 
  min-height: calc(
    100vh - 2rem
  ); /* Adjust according to header and footer height */
  height: max-content;
}

/*  */
#heroText {
  color: var(--main-text);
  text-align: center;
}

header {
  position: fixed;
  width: calc(100% - 3rem);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: var(--second-text);
  top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  background: var(--clear-bg);
  padding: 0 1.5rem;
  backdrop-filter: blur(3px);
  transition: all 1s ease;
  z-index: 1000;
}

/* header:hover,
.actions:hover {
  background: rgba(33, 32, 32, 0.694);
} */

.errDiv {
  margin: 0;
  padding: 1rem;
  background-color: #f44336;
  color: #ddd;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

.delEntry {
  all: unset;
  background-color: #f44336;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.history {
  all: unset;
  background-color: #064f11;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clear-bg);
  color: var(--main-text);
  width: 80vw;
  padding: 2rem;
  border-radius: 10px;
  transition: all 1s ease;
  margin: 2rem auto;
}

.addEntry {
  all: unset;
  background-color: #3936f4;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

#entryChoice {
  all: unset;
  background-color: #f44336;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.deleteMessage {
  margin: 1rem auto;
  border-radius: 5px;
  padding: 2rem;
  color: var(--main-text);
  background: var(--second-bg);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#entryId {
  background: var(--clear-bg);
  border-radius: 7px;
  width: 20%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.closeButton:hover {
  color: red;
}

.toUp {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #000;
  cursor: pointer;
  transition: all 1s ease;
}
/* .toUp:hover {
  border-bottom: 30px solid #ddd;
} */

table {
  background: var(--main-text);
  min-width: 50vw;
  margin: 0 auto;
  box-shadow: 0 0 2px;
  color: var(--main-text);
}

th,
td {
  border: 2px solid transparent;
  padding: 0 1rem;
  color: var(--clear-text);
}

th {
  transition: all 0.4s ease;
  background: var(--second-bg);
}

td {
  background: var(--clear-bg);
  transition: all 0.4s ease;
}

td:hover,
th:hover {
  background: var(--main-text);
  cursor: pointer;
  color: var(--main-bg);
}

.form {
  color: var(--main-text);
  background-color: var(--clear-bg);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  margin: 1rem auto;
  box-shadow: 0 0 3px;
}

.form input,
.deleteMessage input {
  all: unset;
  background: var(--second-bg);
  border: 2px solid var(--main-bg);
  max-width: 20%;
  height: 1.5rem;
  border-radius: 20px;
  padding: 0.5rem;
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button,
#entryId::-webkit-inner-spin-button,
#entryId::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
#entryId {
  -moz-appearance: textfield;
}

.form button {
  all: unset;
  background: var(--main-bg);
  border: 1px solid var(--second-bg);
  height: fit-content;
  padding: 0.43rem 0.5rem;
  border-radius: 20px;
  width: 10%;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form button:hover {
  background: var(--clear-bg);
  box-shadow: 0 0 3px;
  transform: scale(1.0);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background: var(--clear-bg);
  display: grid;
  place-items: center;
  z-index: 1000;
}